<md-sidenav-container class="app-container">
  <md-sidenav #sidenav_id mode="side" opened="false" class="sidenav-container">

    <!-- sidenav content -->
    <button md-button class="menu-button" routerLink="/applications">Applications</button>
    <button md-button class="menu-button" routerLink="/audit-logs">Audit logs</button>
    <button md-button class="menu-button">Performance counters</button>

  </md-sidenav>

  <!-- primary content -->
  <md-toolbar color="primary">
    <md-icon class="toolbar-icon pointer" (click)="sidenav_id.toggle()">menu</md-icon>
      <span>Application Monitor</span>
  </md-toolbar>

  <div class = "router-container">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>

