<div class="div-container">
<div fxLayout="column" fxLayoutGap="0px">
  <div >


    <div fxLayout="row">
      <div fxFlex="2 1 auto">
        <md-input-container class="width-100perc">
          <input mdInput name="datetime_logged" placeholder="Date/Time logged"
                 [(ngModel)]="obj.data.datetime_logged" required readonly>
          <md-error>This field is required</md-error>
        </md-input-container>
      </div>
      <div fxFlex="1 1 auto">
        <md-input-container class="width-100perc">
          <input mdInput name="level_description" placeholder="Level"
                 [(ngModel)]="obj.data.level_description" required readonly>
          <md-error>This field is required</md-error>
        </md-input-container>
      </div>
    </div>


  </div>
  <div>
    <md-input-container class="width-100perc">
      <textarea rows="18" mdInput name="description" placeholder="Description" style="resize: none"
                [(ngModel)]="obj.data.log_description" required readonly></textarea>
      <md-error>This field is required</md-error>
    </md-input-container>
  </div>
</div>

</div>
